

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 10px;
    position: relative;
}

.dropdown-btn {
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-coor 0.3 ease;
    width: 80%;
}

.dropdown-btn:hover {
    background-color: rgba(48, 45, 45, 0.913);
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-menu {
    position: absolute;
    top: calc(50% + 60px); 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding:0;
    margin:0;
    list-style: none;
    animation: fadeIn 0.3s ease;
    width: 80%;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    text-align: center;
}

.dropdown-item:hover {
    background-color: gray;
    color: white;
}

.people-container {
    margin-top: 20px;
    width: 80%; 
}

.people-input {
    margin-bottom: 10px;
}

.people-input label {
    display: block;
    margin-bottom: 5px;
}

.people-input input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}